*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    background-color:rgb(250, 250, 250);
}

:root{
    --BG-COLOR:  rgb(192, 193, 202);
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  rgba(60, 70, 105);
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1vh 0 0 1vh;
    position: fixed;
    top: 0;
    box-shadow: .1px .1px 5px .1px;

}

.logo{
    width: 40%;
}

.links{
    display: flex;
    gap: 3vw;
    justify-content: space-around;
    width: 40%;
    padding-top: 25px;
    padding-right: 10px;
    margin-right: 5vw;
}

.links > a{
    text-decoration: none;
    display: inline-block;
    color: var(--FCOLOR);
    font-size: 16px;
    font-family: 'poppins', sans-serif ;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.links > a:hover{
    text-decoration-style: solid;
    text-decoration-color: rgb(57, 41, 49);
    text-decoration-line: underline;
    text-underline-position: under;
}

.stop{
    width: 5vw; 
    display: none; 
    align-items: center; 
    justify-content: center; 
    color: rgba(60, 70, 105); 
}

.hidden{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30vw;
    min-width: 200px;
    color: var(--FCOLOR);
    padding: 5px;
    background-color: var(--LIGHT-BG-COLOR);
    border-radius: 10px;
    display: none;
}

.hidden p {
    border-radius: 10px;
    background-color: var(--BG-COLOR);
    height: 8vh;
    margin: 7px 0;
    display: grid;
    align-items: center;
}

i{
    background-color: var(--BG-COLOR);
    padding-left: 5px;
}

.hidden p a{
    height: 8vh;
    padding-left: 5px;
    background-color: var(--BG-COLOR);
    display: grid;
    align-items: center;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: .1px .1px 5px .1px;
    color: var(--FCOLOR);
    text-decoration: none;
}

.bloghead{
    display: flex;
    width: 100%;
}

.blogbody{
    width: 80%;
    padding-bottom: 50px;
    margin-top: 25vh;
}

.blogbody > h1{
    color: var(--FCOLOR);
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.02em;
    margin-left: 5vh;
}

            

.blogcontent {
    display: block;
    width: 88%;
    padding-bottom: 50px;
   margin-inline: auto;

}

.content{
    width: 97%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--FCOLOR)

}

.content > P{
    margin-bottom: 10px;
    font-size: 18px;

}

.content #vin{
    width: 200px;
    border-radius: 10px;
}

p > img{
    width: 300px;
    border-radius: 10px;
    margin: 10px 0 5vh 0;
}

#disc{
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom: 3vh;
}

#sensor{
    width: 200px;
}

#vin1{
    width: 400px;
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom: 5vh;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    color: var(--FCOLOR);
}

form input{
    height: 40px;
    margin: 7px 0;
    width: 40vw;
    min-width: 300px;
    background-color: var(--LIGHT-BG-COLOR);
    border: none;
    border-radius: 5px;
    padding: 0 5px;
}

form textarea{
    width: 40vw;
    min-width: 300px;
    height: 40vh;
    min-height: 250px;
    max-height: 250px;
    margin-top: 10px;
    border: none;
    border-radius: 10px 10px 0 0 ;
    padding: 10px;
    background-color: var(--LIGHT-BG-COLOR);
    color: var(--FCOLOR);
}

#send{
    width: 40vw;
    min-width: 300px;
    height: 10vh;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: right;
    background-color: var(--FCOLOR);
    min-height: 40px;
    max-height: 60px;
}

#send button{
    border: none;
    border-radius: 10px;
    background-color: var(--FCOLOR);
}

#send i{
    color: var(--BG-COLOR);
    background-color: var(--FCOLOR);
    margin-inline: 10px;
    font-size: 16px;
}

footer > p{
    color: rgb(119, 119, 119);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5vh;
}





/* MEDIA QUERY */

@media screen  and (max-width: 700px){
    .logo > a > img{
        width: 180px;
    }
}

@media screen and (max-width: 750px){
    .links{
        display: none;
    }

    i{
        background-color: rgb(250, 250, 250);
    }

    #close{
        background-color: var(--BG-COLOR);
    }
    
    .stop{
        padding-right: 10px;
        display: grid;
    }
}

@media screen and (min-width: 750px){
    .icon{
        display: block;
    }
}


@media screen and (max-width: 750px){
   .blogbody h1{
        font-size: 20px;
    }

    #send,
    form input,
    form textarea{
        width: 50vw
    }
}

@media screen and (max-width: 500px){
   input, textarea{
        width: 100%;
   }

   p > img{
    width: 300px;
   } 

   #topimg{
    width: 90%;
    margin-inline: auto;
   }

   footer{
    font-size: 14px;
   }
}

@media screen and (max-width: 450px){
    form input{
        width: 100%;
    }
}


@media screen and (max-width: 350px){
    .blogcontent{
        margin-inline: 10px;
    }
}

@media screen and (max-width: 340px){
    p > img{
        width: 100%;
        margin-inline: 10px;
    } 
}